.hamburger-menu-container {
  background-color: var(--main-black);
  overflow-y: auto;
  direction: rtl;
  user-select: none;
  position: fixed;
  height: 97vh;
  top: 10px;
  left: 10px;
  left: -500px;
  border: 1px solid var(--main-green);
  z-index: 999;
  border-radius: 12px;
  width: 300px;
}
.hamburger-menu-container::-webkit-scrollbar {
  width: 7px;
}

.hamburger-menu-container::-webkit-scrollbar-track {
  background-color: rgb(29 30 32);
}

.hamburger-menu-container::-webkit-scrollbar-thumb {
  background-color: var(--main-green);
  border-radius: 100px;
}
.hamburger-menu {
  padding: 20px 15px 0 15px;
  display: none;
  border-bottom: 1px solid var(--main-green);

}
.menu-content-cols {
  height: 100%;
}
.dotted-border {
  color: #a7a7a7;
  height: 100%;
  width: 1px;
  font-size: 8px;
}

.hamburger-menu  .cols-content-li {
  height: 33px;
  display: flex;
  align-items: center;
  padding-right: 16px;
  border-right: 1px solid transparent;
  margin-bottom: 14px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  right: -1px;
  color: var(--main-white);
}
.filter-title-contaienr {
  padding: 20px !important;
  cursor: default !important;
}
.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main-green);
  color: var(--main-white);
  padding: 20px 15px;
  cursor: pointer;
}
.filter-item-title {
  font-size: 14px;
  font-weight: 600;
}
.filter-title {
  font-size: 18px!important;
}
.menu-item-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.cols-content-ul {
  list-style-type: none;
  color: var(--main-white);
  font-size: 16px;
}
.hamburger-menu .menu-content-cols li:hover {
  transition: all 0.3s;
  border-right: 1px solid var(--main-green);
  color: var(--main-green);
}
